Repository jetm/tooling: changes, and which pre-commit hooks are due for each by the changed paths.
All: chezmoi-verify, validate-python-version

.pre-commit-config.yaml:

default_language_version:
  python: python3

fail_fast: false

repos:
  # Ruff - Python linting & formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix]

  # Shfmt - Shell script formatting
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: [-i, "2", -ci, -bn]
        files: \.(sh|bash)$|^git-undo$|^git-switch-default-branch$

  # Shellcheck - Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        files: \.(sh|bash)$|^git-undo$|^git-switch-default-branch$

  # Local hooks - custom validation
  - repo: local
    hooks:
      - id: chezmoi-verify
        name: Verify chezmoi configuration
        entry: chezmoi verify
        language: system
        files: \.(tmpl|toml)$|^\.chezmoi
        pass_filenames: false

      - id: validate-python-version
        name: Validate Python version in uv scripts
        entry: python3 validate-python-version.py
        language: system
        files: \.py$
        pass_filenames: true

devtool/jira: Handle multiple review status names
  src/devtool/jira/status.py
  src/devtool/mr_desc/command.py
Due: validate-python-version

devtool: Rename mr-desc command to mr-create
  README.md
  docs/commands-reference.md
  pyproject.toml
  src/devtool/cli.py
  src/devtool/doctor/command.py
  src/devtool/jira/command.py
  src/devtool/mr_create/__init__.py
  src/devtool/mr_create/command.py
Due: chezmoi-verify, validate-python-version

devtool/jira: Add automatic MR-to-Jira remote link creation
  src/devtool/jira/command.py
  src/devtool/jira/remote_links.py
  src/devtool/mr_create/command.py
Due: validate-python-version

devtool/gitlab: Auto-detect MR URL from current branch
  src/devtool/gitlab/merge.py
Due: validate-python-version

devtool/gitlab: Ensure branch protection without tracking state
  src/devtool/gitlab/merge.py
Due: validate-python-version

devtool/jira: Auto-assign created child issues to current user
  src/devtool/jira/create.py
Due: validate-python-version

devtool/gitlab: Auto-detect project path from git remote
  src/devtool/gitlab/__init__.py
  src/devtool/gitlab/merge.py
  src/devtool/gitlab/protect.py
Due: validate-python-version

pre-commit: Update ruff to v0.15.3
  .pre-commit-config.yaml
Due: none

devtool/gdoc: Add upload and resolve commands for Google Docs
  pyproject.toml
  src/devtool/cli.py
  src/devtool/gdoc/__init__.py
  src/devtool/gdoc/comments.py
  src/devtool/gdoc/resolve.py
  src/devtool/gdoc/upload.py
  uv.lock
Due: chezmoi-verify, validate-python-version

pre-commit: Bump ruff from v0.15.3 to v0.15.4
  .pre-commit-config.yaml
Due: none

devtool/gdoc: Remove pandoc/DOCX conversion, use native Markdown
  pyproject.toml
  src/devtool/gdoc/upload.py
  uv.lock
Due: chezmoi-verify, validate-python-version
