Repository jetm/tooling: changes, and which pre-commit hooks are due for each by the changed paths.
All: chezmoi-verify, validate-python-version

.pre-commit-config.yaml:

default_language_version:
  python: python3

fail_fast: false

repos:
  # Ruff - Python linting & formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix]

  # Shfmt - Shell script formatting
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: [-i, "2", -ci, -bn]
        files: \.(sh|bash)$|^git-undo$|^git-switch-default-branch$

  # Shellcheck - Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        files: \.(sh|bash)$|^git-undo$|^git-switch-default-branch$

  # Local hooks - custom validation
  - repo: local
    hooks:
      - id: chezmoi-verify
        name: Verify chezmoi configuration
        entry: chezmoi verify
        language: system
        files: \.(tmpl|toml)$|^\.chezmoi
        pass_filenames: false

      - id: validate-python-version
        name: Validate Python version in uv scripts
        entry: python3 validate-python-version.py
        language: system
        files: \.py$
        pass_filenames: true

aca: Add pre-commit hook validation before commit
  README.md
  aca.py
Due: validate-python-version

lx: Add Linux command assistant CLI tool
  lx.py
Due: validate-python-version

aca: Handle files modified by pre-commit hooks gracefully
  aca.py
Due: validate-python-version

aca: Respect SKIP_PRECOMMIT environment variable during commit
  aca.py
Due: validate-python-version

tooling: Rename git-undo to git-undo.sh for consistency
  .pre-commit-config.yaml
  bin/symlink_git-undo.tmpl
  git-undo.sh
Due: chezmoi-verify

chezmoi: Add CLAUDE.md auto-update script
  .chezmoiignore
  bin/symlink_update-claude-md.tmpl
  update-claude-md.py
Due: chezmoi-verify, validate-python-version

git-switch-main.py: Make it executable
  git-switch-main.py
Due: validate-python-version

aca: Allow commits in detached HEAD state
  aca.py
Due: validate-python-version

aca: Use centralized branch-switch config for target branch detection
  aca.py
Due: validate-python-version

aca: Add diff size analysis and compression warning system
  aca.py
  common_utils.py
Due: validate-python-version

aca: Add comprehensive error handling and logging to diff compression
  aca.py
Due: validate-python-version

docs: Document diff compression and large prompt handling
  README.md
Due: none

docs: Clarify Claude Code CLI authentication role in setup
  README.md
Due: none

aca: Add pre-flight validation for MR creation
  aca.py
Due: validate-python-version

aca: Add --yes flag to commit command for non-interactive mode
  aca.py
Due: validate-python-version

chezmoi: Fix verify hook to use correct source directory
  .pre-commit-config.yaml
Due: none

gitignore: Add logs directory to exclusions
  .gitignore
Due: none

tooling: Add Jira weekly status automation script
  README.md
  bin/symlink_weekly-status.tmpl
  weekly_status.py
Due: chezmoi-verify, validate-python-version

weekly_status: Add AppFox Compliance API integration for automatic page classification
  weekly_status.py
Due: validate-python-version

weekly_status: Quote project names in JQL query construction
  weekly_status.py
Due: validate-python-version

chezmoi: Add encrypted get-biscuit script and ignore build artifacts
  .chezmoi.toml.tmpl
  .chezmoiignore
  bin/executable_get-biscuit.tmpl
  encrypted_executable_get-biscuit.py.age
Due: chezmoi-verify

tooling: Add Google Docs comments fetcher script
  bin/symlink_gdoc-comments.tmpl
  gdoc-comments.py
Due: chezmoi-verify, validate-python-version

chore: Upgrade ruff to v0.15.1
  .pre-commit-config.yaml
Due: none

git-undo.sh: Fix shellcheck style issues
  git-undo.sh
Due: none

bin: Add GitLab workflow automation tool
  bin/symlink_gitlab-lean.tmpl
  gitlab-lean.py
Due: chezmoi-verify, validate-python-version

docs: Add common utilities and scripts reference documentation
  docs/common-utils.md
  docs/scripts-reference.md
Due: none

gitlab-lean: Handle protected branches and rebase for fast-forward merge
  gitlab-lean.py
Due: validate-python-version

gitlab-lean: Harden merge command against approval resets and race conditions
  gitlab-lean.py
Due: validate-python-version

aca: Escape Rich markup in pre-commit hook output
  aca.py
Due: validate-python-version

devtool/common: Tolerate unknown SDK message types in stream parser
  src/devtool/common/claude.py
Due: validate-python-version

jira: Add issue lifecycle management commands
  src/devtool/cli.py
  src/devtool/common/git.py
  src/devtool/jira/__init__.py
  src/devtool/jira/backfill.py
  src/devtool/jira/client.py
  src/devtool/jira/command.py
  src/devtool/jira/create.py
  src/devtool/jira/status.py
  src/devtool/mr_desc/command.py
  src/devtool/weekly_status/command.py
Due: validate-python-version

jira/backfill: Fix output formatting for Jira wiki markup
  src/devtool/jira/backfill.py
Due: validate-python-version

gitlab/merge: Skip rebase when MR is already up to date
  src/devtool/gitlab/merge.py
Due: validate-python-version

commit: Add configurable model selection and generation control
  src/devtool/commit/command.py
  src/devtool/common/claude.py
  src/devtool/common/config.py
  src/devtool/common/console.py
Due: validate-python-version

build: Constrain claude-agent-sdk version
  pyproject.toml
Due: chezmoi-verify

deps: Upgrade claude-agent-sdk to 0.1.39
  uv.lock
Due: none

devtool: Add effort hints to routine AI generation
  src/devtool/common/claude.py
  src/devtool/doctor/command.py
  src/devtool/jira/backfill.py
  src/devtool/mr_desc/command.py
Due: validate-python-version

devtool/common: Add tools parameter support to Claude Agent SDK wrapper
  src/devtool/commit/command.py
  src/devtool/common/claude.py
Due: validate-python-version

devtool: Add OpenRouter direct API path as alternative to Claude CLI
  pyproject.toml
  src/devtool/ask/command.py
  src/devtool/commit/command.py
  src/devtool/common/claude.py
  src/devtool/common/config.py
  src/devtool/jira/command.py
  src/devtool/mr_desc/command.py
  uv.lock
Due: chezmoi-verify, validate-python-version

devtool: Rename ACA references to Devtool throughout codebase
  .gitignore
  docs/package-internals.md
  src/devtool/ask/command.py
  src/devtool/commit/command.py
  src/devtool/common/claude.py
  src/devtool/common/config.py
  src/devtool/common/errors.py
  src/devtool/common/git.py
  src/devtool/doctor/command.py
  src/devtool/gdoc/comments.py
Due: validate-python-version
